arabic-reshaper
asgiref
asn1crypto
beautifulsoup4
certifi
cffi
channels
chardet
charset-normalizer
click
colorama
contourpy
crispy-bootstrap5
cryptography
cssselect2
cycler
dj-database-url
Django
django-cors-headers
django-crispy-forms
django-email
django-environ
django-filter
djangorestframework
fonttools
gunicorn
html5lib
idna
kiwisolver
lxml
Markdown
matplotlib
numpy
oscrypto
packaging
pandas
pillow
psycopg2
psycopg2-binary
pycparser
pyHanko
pyhanko-certvalidator
pyparsing
pypdf
pypng
python-bidi
python-dateutil
pytz
PyYAML
qrcode
reportlab
requests
seaborn
six
soupsieve
sqlparse
svglib
tinycss2
typing_extensions
tzdata
tzlocal
uritools
urllib3
webencodings
xhtml2pdf
